html {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(13,19,75,1) 17%, rgba(0,0,0,1) 30%, rgba(25,18,89,1) 41%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 85%);
   
  }
 
  hr {
    border-top: 1px solid rgb(187, 187, 186); 
    width: 40%;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  }
 
  .grid {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: "terms formatList";
    text-align: center;
    gap: 1px;  
  }
  
  
.terms {
  grid-area: terms;
  background-image: linear-gradient( 135deg, #FFDB01 10%, #0E197D 100%);
 }

#ftList {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.headerClass {
    text-align: center;
    font-family:Georgia;
    font: size 20px;
    font-weight: bold;
    color: rgb(60, 247, 253);
    
}
footer {
    text-align: center;
  font-weight: bold;
  color: rgb(208, 255, 0);

}
.termList img {
  width: 20px;

}

#itachi {
  border-radius: 80px;
  width: 60px;
  border: 1px solid palevioletred;

}


.termList{
  color:rgb(150, 5, 82);
  font-weight: bold;
  font-size:15px;
}

.changeStyle {
  color:rgb(247, 232, 28);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

button {
  border: 2px solid rgb(131, 255, 15);
  border-radius: 4px;
  color:black;
  font-display:inherit;
  
}

.btn-grad {background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%)}
.btn-grad {
   margin: 1px;
   padding: 5px 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .text-container {
  font-size: 30px;
  color: rgba(255,255,255,.2);
  background-image: url('https://images.unsplash.com/photo-1529641484336-ef35148bab06?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=55a1e60cd6799d5761c7ec40c4954569&auto=format&fit=crop&w=500&q=60');
/*   background-position: center; */
  background-size: 250px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: left 0px top 0px;
  }
  40% {
    background-position: left 800px top 0px;
  }
}




.btn-grad2 {background-image: linear-gradient(to right, #1D4350 0%, #A43931  51%, #1D4350  100%)}
.btn-grad2 {
   margin: 1px;
   padding: 5px 5px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad2:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
